---
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import SliderMenu from '../components/SliderMenu.astro';
import Card from '../components/Card.astro';
import { marcas } from '../lib/data'; 

---

<Layout title="Welcome to Astro.">
	<main class="w-full">
		<h1>Experimento <span class="text-gradient">Innovation</span></h1>
		
		<section class="w-4/5 py-10 h-96 m-auto">
			<SliderMenu/>
		</section>

		<ul role="list" class="link-card-grid">
			{
				marcas.map(marca => <Card
				href={marca.marca}
				title={marca.marca}
				body={marca.productos[0].descripcion}
			/>)
			}
			
		</ul>
		
	</main>
</Layout>

<style>
	
</style>
