---
import {productos} from '../lib/data.ts';
import Card from "./Card.astro"

---

<div class="w-full mt-6">
    <ul role="list" class="grid grid-cols-3 grid-flow-row gap-2">
        {
            productos.map(producto => <Card
            href={producto.id}
            title={producto.titulo}
            body={producto.descripcion}
        />)
        }
        
    </ul>
</div>