---
import Navbar from "./Navbar.astro";

---

<header class="flex justify-center my-6">
    <!-- <nav class="w-1/2 justify-between text-white inline-flex items-center px-6 py-3 borde text-lg">
      <a href="#">
        Lorem Ipsum
      </a>
      <a href="#">
        Lorem Ipsum
      </a>
      <img src="#" alt="Logo de Pepsi">
      <a href="#" >
        Lorem Ipsum
      </a>
      <a href="#">
        Lorem Ipsum
      </a>
    </nav> -->
  <Navbar></Navbar>
  </header>
<style>
@import url('//raw.githubusercontent.com/necolas/normalize.css/master/normalize.css');
</style>