---

---


    <div class="swiper cursor-grab ">
      <!-- Wrapper adicional requerido -->

      <div class="swiper-wrapper mb-12">
        <!-- Los slides -->
        <div class="swiper-slide">
          <div class="flex flex-col justify-center items-center">
            <img
              class="object-contain mb-6"
              src="https://212global.com/wp-content/uploads/2024/07/61a696f64f1abdd16726b63c_thumbnail-600x600.png"
              alt="Lata de Pepsi"
            />
          </div>
        </div>
        <div
          class="swiper-slide"
          style="display: flex; justify-content: center; align-items: end;"
        >
        <div class="flex flex-col justify-center items-center">
          <img
            class="object-contain mb-6 "
            src="../../public/bottle_polar_studio_drops_300px.png"
            alt="Erikson pasame una!"
          />
        </div>
        </div>
        <div
          class="swiper-slide"
          style="display: flex; justify-content: center; align-items: end;"
        >
        <div class="flex flex-col justify-center items-center">
          <img
            class="object-contain mb-6"
            src="https://suplementosalmayor.cl/wp-content/uploads/2023/04/QHUSH-RR1-IMG-OPT_2000x.webp"
            alt="calaca en una lata"
          />
        </div>
        </div>
        <div
          class="swiper-slide"
          style="display: flex; justify-content: center; align-items: end;"
        >
        <div class="flex flex-col justify-center items-center">
          <img
            class="object-contain mb-6"
            src="https://www.rockstarenergy.co.uk/prod/s3fs-public/2022-04/punched-sour-apple-es.png"
            alt="un tragito de GTA"
          />
        </div>
        </div>
        <div
          class="swiper-slide"
          style="display: flex; justify-content: center; align-items: end;"
        >
        <div class="flex flex-col justify-center items-center">
          <img
            class="object-contain mb-6"
            src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/53f59ee3-60ce-4d32-8885-c6f05457259c/dgahlii-2561436c-69ac-46b0-8660-6659d0cf5569.png/v1/fit/w_375,h_668/beer_glass_isolated_on_transparent_background__67__by_anavrin_ai_dgahlii-375w.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzUzZjU5ZWUzLTYwY2UtNGQzMi04ODg1LWM2ZjA1NDU3MjU5Y1wvZGdhaGxpaS0yNTYxNDM2Yy02OWFjLTQ2YjAtODY2MC02NjU5ZDBjZjU1NjkucG5nIiwiaGVpZ2h0IjoiPD03MTIiLCJ3aWR0aCI6Ijw9NDAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLndhdGVybWFyayJdLCJ3bWsiOnsicGF0aCI6Ilwvd21cLzUzZjU5ZWUzLTYwY2UtNGQzMi04ODg1LWM2ZjA1NDU3MjU5Y1wvYW5hdnJpbi1haS00LnBuZyIsIm9wYWNpdHkiOjk1LCJwcm9wb3J0aW9ucyI6MC40NSwiZ3Jhdml0eSI6ImNlbnRlciJ9fQ.iwj2F4J67Y4gyQk3cGXHwjg5iHukSAM8mvnY1SM6nQA"
            alt="se me acabaron las ideas"
          />
        </div>
        </div>

      </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    </div>

  <style>
    .swiper-wrapper {
      align-items: end;
    }
    
  </style>
  
  <script>
    // Core de Swiper y estilos
    import Swiper from "swiper";
    import "swiper/css";
    // Módulo Navigation de Swiper y estilos
    import { Navigation } from "swiper/modules";
    import "swiper/css/navigation";
  
    // Configurar Swiper
    const swiper = new Swiper(".swiper", {
      modules: [Navigation], // definir los módulos a usar
      loop: true, // definir si los slides estarán en bucle
      slidesPerView: 4, // agregar número de slides para la pantalla
      spaceBetween: 10, // separación entre slides en px
      navigation: {
        // definir botones next y prev para el módulo Navigation
        prevEl: ".swiper-button-prev",
        nextEl: ".swiper-button-next",
      },
    });
  </script>